/* IMPORT => GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:ital,wght@1,300&family=Oxygen:wght@400;700&display=swap");

/* ----------------------------------------------------------------------------------------------------------- */
/* INITIAL */
html {
  scroll-behavior: smooth;
}
.body {
  background-color: #3b2b32;
}
/* -x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */

/* ------------------------------------------------------------------------------------------------------------- */
/* GLOBAL */
.title {
  color: #ffd700;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.spl-font {
  font-family: "Macondo", cursive;
}
.small {
  font-size: 18px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  padding-top: 40px;
}
.decoration {
  text-decoration: overline;
}
.invite-area {
  margin-left: 15%;
}
.gold-text-normal {
  color: gold;
}
.font-size-large {
  font-size: 30px;
}
.small-txt {
  font-size: 15px;
  font-weight: 100;
}
.text-area {
  color: gold;
  font-family: "Oxygen", sans-serif;
  padding-right: 30px;
}
.spl-word {
  color: #fff;
  font-weight: bold;
}
.sub-title {
  color: gold;
  font-family: "Oxygen", sans-serif;
}
.medium-img {
  width: 250px;
  height: 300px;
}
.border-radius {
  border-radius: 10px;
}
.list-item {
  color: #ffd700;
  font-size: 15px;
}
.card-guest {
  width: 18rem;
}
.card-title {
  color: #ffd700;
}
.card-text {
  color: #fff;
}
/* -x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */

/* ---------------------------------------------------------------------------------------------------------- */
/* IMAGE STYLES */

/* IMAGE IN INDEX SCREEN */
#pose1 {
  text-align: center;
}
.pose1-img {
  width: 45%;
}
/* IMAGE IN PERFORMER SCREEN */
.pose-img {
  width: 1200px;
  transform: translateY(-40px);
}
/* IMAGE IN INVITE SCREEN  */
.invite-pose-img {
  width: 100%;
}
/* -x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */

/* -------------------------------------------------------------------------------------------------------------- */
/* OTHERS */

/* ACCOLADES OF GURU */
.prizes {
  color: gold;
  font-family: "Oxygen", sans-serif;
}
/* -x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x  */

/* -------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE CODE */
@media only screen and (max-width: 568px) {
  .flex {
    display: block;
  }
  .card-guest {
    width: 100%;
  }
  .medium-img {
    width: 200px;
    height: 200px;
  }
  .pose1-img {
    width: 100%;
  }
  .main-title {
    margin-top: 90px;
  }
  .gold-text-normal {
    margin-top: 30px;
    font-size: 30px;
  }
  .invite-pose-img {
    width: 100%;
  }
}
/* -x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */
